%main
  %section.section
    .container
      .grid
        .col-12.col-center
          %h1 PDF Songbook
          %p
            This is a 181 page PDF that includes the vast majority of the songs on this website thoughtfully laid-out and beautified with artwork. Songs include chords, translations, and notes when available. A Quechua glossary and pronunciation guide are included. This is a beautiful songbook that represents hundreds of hours of work in documentation, research, translation, attribution, and layout. We are proud to offer something of quality and love.
          %h3
            %a{ href: 'https://medicine.fetchapp.com/sell/8cfb3091', target: :_blank }
              Click here
            to buy your copy now.
          %a{ href: 'https://medicine.fetchapp.com/sell/8cfb3091', target: :_blank }
            %img{loading: "lazy", src: "img/songbook+sample+small.jpg", alt: ""}