.downloads
  %h1 Download a print-ready PDF Songbook
  %h3.buy-now
    %strong
      %a{ href: 'http://medicine.fetchapp.com/sell/8cfb3091', target: :_blank }
        CLICK HERE
    to buy your copy now.
  %p This is a 181 page PDF that includes the vast majority of the songs on this website thoughtfully laid-out and beautified with artwork. Songs include chords, translations, and notes when available. A Quechua glossary and pronunciation guide are included. This is a beautiful songbook that represents hundreds of hours of work in documentation, research, translation, attribution, and layout. We are proud to offer something of quality and love.

  %a{ href: 'https://medicine.fetchapp.com/sell/8cfb3091', target: :_blank }
    %img.song-book{ src: 'https://s3-us-west-2.amazonaws.com/medicinesongs.net/Songbook+sample+small.jpg' }
