%main
  %section.section
    .container
      .grid
        .col-12.col-center
          %h1 Coming Soon
          %p
            We are excited to announce we are putting the finishing touches on a new, much expanded and beautified songbook that will be available for download here by late April.  Please come back soon!