%h1 Download a print-ready PDF Songbook
%a{ href: 'http://medicine.fetchapp.com/sell/8cfb3091', target: :_blank }
  %img{ src: 'https://s3-us-west-2.amazonaws.com/medicinesongs.net/Songbook+Cover.JPG', height: '300px' }
%p This is a 181 page PDF that includes the vast majority of the songs on this website thoughtfully laid-out and beautified with artwork. Songs include chords, translations, and notes when available. A Quechua glossary and pronunciation guide are included. This is a beautiful songbook that represents hundreds of hours of work in documentation, research, translation, attribution, and layout. We are proud to offer something of quality and love.

%p
  %a{ href: 'http://medicine.fetchapp.com/sell/8cfb3091', target: :_blank  }
    CLICK HERE
  to buy your copy now.
