@layer pages {
	/* Begin Song Detail */
	.recording-artist {
		font-family: "Alegreya SC";
		font-weight: 400;
	}
	.recording-details {
		font-family: "Alegreya Sans";
		font-style: italic;
		font-weight: 300;
	}
	.panel--lyrics {
		pre {
			font-size: 16px;
			white-space: break-spaces;
		}
	}
	/* / End Song Detail */
}