@layer pages {
	/* Begin Song Detail */
	.recording-artist {
		font-family: "Alegreya SC";
		font-weight: 400;
	}
	.recording-details {
		font-family: "Alegreya Sans";
		font-style: italic;
		font-weight: 300;
	}
	.iframe--soundcloud {
		background-color: var(--color-warm-stone);
		border-radius: 6px;
		padding: 10px 6px;
		width: 100%;
		display: block;
		min-height: 40px;
	}
	.panel--lyrics {
		pre {
			font-size: 16px;
			white-space: break-spaces;
		}
	}
	.chord-forms {
		display: flex;
		gap: 12px;
		text-align: center;
		ul {
			list-style-type: none;
			margin: 0;
		}
	}
	/* / End Song Detail */
}