.row
  .col
    %h1 Songs!
    %ul
      - @songs.each do |song|
        %li
          = song.name
          %ul
            - song.song_links.each do |song_link|
              %li= link_to song_link.source, song_link.url

