%li.song
  = link_to song.title, song
  %small
    \-
    = link_to song.composer, songs_path(q: { composer_cont: song.composer })
    - if Rails.env.development?
      - song.recordings.each do |_|
        = fa_icon 'music', class: 'fas has-recording'
