textarea {
  height: 4rem;
}

li.choice.restricted {
  label {
    @extend %fa-icon;
    @extend .fal;
    &::after {
      content: "\00a0" fa-content($fa-var-lock);
    }
  }
}


li.handle {
  @extend .fal;
  visibility: hidden;
  &::before {
    visibility: visible;
    content: fa-content($fa-var-sort) "\00a0";
  }
}


fieldset.has_many_fields {
  &:nth-child(even){
    background-color: #eee;
  }
}
