default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: 127.0.0.1

development:
  <<: *default
  database: circle-songs_development
  username: circle-songs

test:
  <<: *default
  database: circle-songs_test
  username: circle-songs
