@use "bootswatch/dist/cosmo/_variables.scss" as *;
@use "variables" as *;

.footer {
  padding: $margin;
  background-color: $gray-200;
  color: $gray-600;
  text-align: center;
  p {
    line-height: 1.3rem;
    &:last-of-type {
      margin: 0;
    }
    a {
      color: $gray-600;
      &.gratitude:hover {
        text-decoration: none;
        color: $gray-600;
      }
    }
  }

}
