@use "variables" as *;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;

  .container {
    margin-top: $margin;
    padding-bottom: $margin;
  }

  a {
    text-decoration: none;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  // line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
