@use "bootswatch/dist/cosmo/_variables.scss" as *;

img.thumb {
  float: left;
  margin: 0 1rem 1rem 0;
}
h2 {
  small {
    font-size: 1.2rem;
  }
  a.back-to-songs {
    font-size: 0.8rem;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.embed-responsive {
  max-height: 200px;
}

.recording .card {
  margin-bottom: 3rem;
  .card-body {
    .broken-link {
      small { color: $danger; }
      form {
        button {
          padding: 0;
          color: $warning;
          font-size: 0.8rem;
        }
        .hidden {
          display: none;
        }
      }
    }
    p { margin: 0; }
  }
}

.tag-cloud {
  --max-taggings: 5;
  margin: 1.5rem 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;

    li {
      line-height: 1;

      a {
        text-decoration: none;
        color: $primary;
        transition: color 0.2s;
        font-size: calc(0.75rem + (var(--tag-weight) * 0.01rem));
        opacity: calc(0.5 + (var(--tag-weight) * 0.005));

        &:hover {
          color: darken($primary, 15%);
        }
      }
    }
  }
}
