@use "bootswatch/dist/cosmo/_variables.scss" as *;
@use "variables" as *;

ul.songs {
  margin-top: 1rem;
  li {
    padding: 0.5rem;

    &:nth-child(even) {
      background-color: #eee;
    }

    .has-recording,
    .has-chords {
      color: $gray-600;
      margin-left: $margin;
    }

    .edit {
      margin-left: $margin;
    }
  }
}
