%h2#grammar A note about grammar:
%p Quechua is a language that uses many suffixes. Parts of words are added on to the ends of others to create meaning. For example "-kuna" is used to make a plural, just like "-s" in English. "-manta" is used to express where something came from (as in "Qosqomanta hamuni" 'I come from Cusco') or its quality (as in "Rumimanta wasi" 'House made of rocks'). Verbs are conjugated for person and tense by adding suffixes as well. Some examples are below, with hyphens added for clarity:
%p Kuyay = To love
%p Kuya-ku-ni = I love myself
%p Kuya-rja-ikiku = We loved you Kuya-wa-rjan-kichá = You will have loved me
%p So, for a non-native speaker or even for an interested novice, it can be difficult to determine if separate sounds belong to separate words, or to one longer word in several parts. Looking up words in a Quechua dictionary can pose a challenge because the word you seek may be conjugated and carry other suffixes, and the dictionary is likely to carry only the unmodified infinitive (or perhaps the noun without its modifying clauses).
