%h2#pronunciation A Brief Pronunciation Guide:
%p Many different spellings of words exist in Quechua. It was not originally a written language, so recent linguistic research and documentation have taken varied approaches. For example, some systems differentiate each of the following as its own letter: CH, CHH, CH', K, KH, KH', Q, QH, Q'. So in order to read effectively in Quechua (Runasimi) one has to be familiar with the adopted writing conventions of the author or publisher. What follows are a couple of short and helpful notes.

%p The letter "J" (when used at all) makes a q-like sound, but with an exhale, like a qh. The tongue starts in contact with the back of the throat, then as it releases air escapes as an exhale. Sometimes this is written as "CC".
"Q" does not have to be followed by a vowel. It sounds similar to a "k" sound in English, but happens farther back and down in the throat by separating the tongue from the back of the throat.

%p "LL" sounds like "lee". This is different from Spanish, in which a double L makes a sound like the English letter "Y". An apostrophe ' indicates a glottal-stop, in which (even in the middle of a word) a physical constriction of the mouth or airway causes all sound to stop momentarily before resuming. For example "q'ocho" which means happiness, fun, or contentment.
