%h1 Quechua
%ul.list-inline
  %li.list-inline-item
    %a{ href: '#pronunciation' } Pronunciation
  %li.list-inline-item
    %a{ href: '#grammar' } Grammar
  %li.list-inline-item
    %a{ href: '#vocabulary' } Vocabulary
= render 'pronunciation'
= render 'grammar'
= render 'vocabulary'


