%main
  %section.section
    .container
      .grid
        .col-12.col-center
          %h1 About Us

          %p
            Welcome to Medicine Songs, a sacred collection of music from healing traditions around the world.
            Our intention is to preserve and share these powerful songs that have been used for ceremony and
            spiritual connection. We honor the many cultural traditions, tribes, teachers, as well as living
            composers who have shared these songs with reverence and gratitude, in service to a more loving,
            liberated world.

          %p
            This database serves as a resource for practitioners, ceremony leaders, and anyone called to work
            with sacred music. You can search by song title, composer, theme, or browse our curated collections
            and playlists.

          %p
            We believe in the power of music to heal, unite, and transform. May these songs support your journey
            and benefit all beings.

          %h2 Who We Are

          %p
            This site is supported by a consortium of musicians devoted to sharing songs in ceremonial spaces.
            We do not profit financially from this project and offer it in the spirit of devotion and
            community-building. If you’d like to see this resource keep flowering, we are very grateful for your
            donations and songbook purchase. These sources of support directly enable us to improve and expand
            this site. Thank you!

          %h2 Have a Correction?

          %p
            We endeavor to check our songs with living composers for accuracy and permissions whenever possible,
            and welcome updates from the songwriters. We also recognize these songs are traveling, evolving,
            living beings which, by their nature, tend to change as they move. In many cases it is difficult to
            discern what is an error and what is simply a different stylistic interpretation. In some cases, the
            songwriter may have multiple versions of the same song and/or welcome evolutionary variations. In
            other cases composers prefer their songs to be sung as close to their original form as possible. For
            these reasons, we ask for submissions from composers directly whenever possible, otherwise, please
            offer some documentation supporting your correction. We’re grateful for your help making our resource
            even better!
          %p
            = link_to "Submit a correction to a song or composer page",
              "https://forms.gle/adUyXFQ6ow2CZrnS9",
              class: "btn btn--primary",
              target: "_blank",
              rel: "noopener"

          %p
            Because our efforts are supported by volunteers, we frequently make updates in batches, so it may
            take 2–6 weeks for your submissions to be visible on the site.

          %h2 Have A Song Submission?

          %p
            At this time, we have more than 100 songs in our queue for addition, so we are not taking submissions.
            We do plan to open a submission form here in the future, and we’ll love to hear from you a little
            farther down the line. Thank you for your patience.         