%main
  %section.section
    .container
      .grid
        .col-12.col-center.restricted-category-session-form
          - if flash
            .row
              .col-12
                = render 'layouts/messages'
          = simple_form_for :restricted_category_session, method: :post, url: '/restricted_category_sessions' do |f|
            .search-form--extended
              = f.input :password, class: 'search-input', label: I18n.t('restricted_categories.password_label'), required: false
              = f.submit 'Submit', class: 'search-btn btn btn--wide'
