img.thumb {
  float: left;
  margin: 0 1rem 1rem 0;
}
h2 small {
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
}

.embed-responsive {
  max-height: 200px;
}

.card.song {
  margin-bottom: 3rem;
}
