img.thumb {
  float: left;
  margin: 0 1rem 1rem 0;
}
h2 {
  small {
    font-size: 1.2rem;
  }
  a.back-to-songs {
    font-size: 0.8rem;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.embed-responsive {
  max-height: 200px;
}

.recording .card {
  margin-bottom: 3rem;
  .card-body {
    .broken-link {
      float: right;
      small { color: $danger; }
      form {
        button {
          padding: 0;
          color: $warning;
          font-size: 0.8rem;
        }
        .captcha {
          visibility: hidden;
          position: absolute;
        }
      }
    }
    p { margin: 0; }
  }
}

