- flash.each do |name, msg|
  - if msg.is_a?(String)
    .alert.alert-dismissible.fade.show{class: "alert-#{bootstrap_alert_class(name)}", role: "alert"}
      %strong= msg
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
