%nav.navbar.navbar-expand-lg.navbar-light.bg-secondary
  %a.navbar-brand{ href: '/'}
    = image_tag 'caduceus.svg', size: '50x50'
    Medicine Songs
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto

    %ul.navbar-nav
      %li.nav-item
        - if user_signed_in?
          = link_to fa_icon('sign-out'), destroy_user_session_path, method: :delete, class: 'nav-link'
        - else
          %a.nav-link{ href: admin_dashboard_path }= fa_icon('sign-in')

