%nav.navbar.navbar-expand.navbar-light.bg-light
  %a.navbar-brand{ href: '/'}
    = image_tag 'medicine-songs-logo.svg', size: '100x100'
    Medicine Songs
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto

    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{ href: admin_dashboard_path }= fa_icon('sign-in')

