%section.panel.panel--playlists{"aria-label" => "Playlists"}
  %h2.panel__title.ruled Playlists
  %ul.playlist-list.list--inline.list--unstyled
    - playlists.each do |playlist|
      %span.playlist-item__left
        %span.soundcloud-icon{"aria-hidden" => "true"}
          = image_tag vite_asset_path('images/soundcloud-tile.svg'), width: 24
        %span
          = playlist.title
          = link_to 'Play >', playlist.url, class: 'btn btn--sm', "aria-label" => "Play #{playlist.title}", target: :_blank
